<ion-list>
  <ion-item>
    <ion-label position="stacked" class="stacked-label">Verdachten</ion-label>
  </ion-item>
  <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($event)">
    <ion-item-sliding *ngFor="let kandidaat of kandidaten; let i = index">
      <ion-item>
        <ion-avatar slot="start">
          <img alt="kandidaat foto" [src]="kandidaat?.profielFoto">
        </ion-avatar>
        <ion-label>
          <h2>{{ kandidaat?.voornaam }} {{ kandidaat?.achternaam }}</h2>
          <p>{{ kandidaat?.leeftijd }} // {{ kandidaat?.beroep }} // {{ kandidaat?.woonPlaats }}</p>
          <p>{{ kandidaat?.extra }}</p>
        </ion-label>
        <ion-badge slot="end" class="custom-badge">{{ i + 1 }}</ion-badge>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="tertiary" [routerLink]="['/tabs/kandidaten', kandidaat?.id]">
          <ion-icon slot="icon-only" name="open"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-reorder-group>
</ion-list>
