<ion-list>
  <ion-text>Versleep de verdachten om de volgorde te wijzigen.</ion-text>
  <ion-label position="stacked" class="stacked-label">Verdachten</ion-label>
  <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($event)">
    <ng-container *ngFor="let kandidaat of kandidaten; let i = index">
      <ion-item [routerLink]="['/tabs/kandidaten', kandidaat?.id]">
          <ion-avatar slot="start">
            <img alt="kandidaat foto" src="{{ kandidaat?.profielFoto }}">
          </ion-avatar>
          <ion-label>
            <h2>{{ kandidaat?.voornaam }} {{ kandidaat?.achternaam }}</h2>
            <p>{{ kandidaat?.leeftijd }} // {{ kandidaat?.beroep }} // {{ kandidaat?.woonPlaats }}</p>
            <p>{{ kandidaat?.extra }}</p>
          </ion-label>
          <ion-badge slot="end" class="custom-badge">{{ i + 1 }}</ion-badge>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
    </ng-container>
  </ion-reorder-group>
</ion-list>
