:host {
    display: flex;
    left: 0;
    width: 100%;
}

.avatar {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
}

.avatarWrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.hint {
    position: absolute;
    margin-top: -10px;
}

.hint-date{
    text-align: end;
  }

.hint-text {
    padding: 0rem 0.5rem;
    font-size: small;
}

.comment-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.thumb-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.vote-badge {
    min-width: 20px;
    font-size: 0.8em;
}

.btn {
    min-width: max-content;
    max-width: 100%;
}

.comment-link {
    font-size: xx-small;
}

.hint-border {
    margin-top: 0.1rem;
    border: 1px solid lightgray;
}