<ion-grid *ngIf="hint && gebruiker" class="w100">
  <ion-row>
    <ion-col>
      <ion-label class="hint-date">{{ hint.datum.toDate() | date:'dd.MM.yyyy' }}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col sizeXs="2" sizeLg="1" class="avatarWrap">
      <ng-container *ngIf="profileImageUrl$ | async as imageUrl">
        <img alt="profielfoto" [src]="imageUrl" />
      </ng-container>
      <ng-container *ngIf="!(profileImageUrl$ | async)">
        <img alt="profielfoto" [src]="authService.currentUser.value?.photoURL" />
      </ng-container>
      <ng-container *ngIf="!(profileImageUrl$ | async) && !authService.currentUser.value?.photoURL">
        <div class="avatar" [style.background-color]="background">
          {{ gebruiker.voornaam.slice(0,1).toUpperCase() }}{{ gebruiker.achternaam.slice(0,1).toUpperCase() }}
        </div>
      </ng-container>
    </ion-col>
    <ion-col>
      <div class="hint-text">
        <h5>{{ gebruiker.voornaam }} {{ gebruiker.achternaam}}</h5>
        <span class="hint">{{ hint.hint }}</span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="pt3">
    <ion-col class="comment-container">
      <ion-text class="comment-link" (click)="fnShowCommentInput()" *ngIf="!showCommentInput">Voeg een opmerking
        toe</ion-text>
    </ion-col>
    <ion-col class="thumb-container">
      <ion-button (click)="onThumbsUp()" class="thumb-button">
        <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
        <ion-badge *ngIf="hint.stemmenOmhoog" color="success" class="vote-badge">{{ hint.stemmenOmhoog }}</ion-badge>
      </ion-button>
      <ion-button (click)="onThumbsDown()" class="thumb-button">
        <ion-icon slot="icon-only" name="thumbs-down"></ion-icon>
        <ion-badge *ngIf="hint.stemmenOmlaag" color="danger" class="vote-badge">{{ hint.stemmenOmlaag }}</ion-badge>
      </ion-button>
    </ion-col>
  </ion-row>
<div *ngIf="hint.opmerkingen.length > 0">
  <ng-container *ngFor="let opmerking of hint.opmerkingen">
        <h6> {{ opmerking.plaatser?.voornaam?.slice(0,1).toUpperCase() }}{{
          opmerking.plaatser?.voornaam?.slice(1).toLowerCase() }} {{
          opmerking.plaatser?.achternaam?.slice(0,1).toUpperCase() }}
        </h6>
        <p class="small">{{ opmerking.tekst }}</p>
        <ion-note class="pb1" class="date-small">{{ opmerking.datum.toDate() | date:'dd.MM.yyyy' }}</ion-note>
  </ng-container>
</div>
<ion-grid>
  <ion-row *ngIf="showCommentInput">
    <ion-col>
      <ion-item lines="none">
        <ion-textarea [(ngModel)]="newComment" placeholder="Plaats hier je opmerking" autoGrow="true"></ion-textarea>
      </ion-item>
      <ion-button fill="outline" color="danger" (click)="showCommentInput=false">Annuleren</ion-button>
      <ion-button (click)="onSubmitComment()">Opmerking toevoegen</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>