.avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
}


:host {             // host targets selector: 'home'
    display: block;
    left: 0;
    width: 100%;    // takes parent width        
}

.vote-badge {
    min-width: 20px;
    font-size: 0.8em;
  }

.btn {
    min-width: max-content;
    max-width: 100%;
}