.title{
    font-weight: 900;
    font-family: 'Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif';
    
}

.active-menu-button {
    background-color: #ff0000; /* Set your desired background color here */
  }

#logo {
    width: 40px;
    display: inline-block;
}
