<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img slot="start" src="../../../assets/img/demol.jpg" alt="logo de mol" id="logo"></ion-img>
    <ion-title class="title">Raad jij wie de mol is?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <!-- <ion-tab-button tab="home">
        <ion-icon name="person-circle-outline"></ion-icon>
        Profiel
      </ion-tab-button> -->
      <ion-tab-button tab="kandidaten" routerLink="/tabs/kandidaten">
        <ion-icon name="people-circle-outline"></ion-icon>
        Kandidaten
      </ion-tab-button>
      <!-- <ion-tab-button tab="youtubefeed">
        <ion-icon name="logo-youtube"></ion-icon>
        Kijken
      </ion-tab-button> -->
      <ion-tab-button tab="top10" routerLink="/tabs/top10">
        <ion-icon name="podium-outline"></ion-icon>
        Top10
      </ion-tab-button>
      <ion-tab-button (click)="router.navigate(['login'])" *ngIf="!isLoggedIn">
        <ion-icon name="log-in-outline"></ion-icon>
        Inloggen
      </ion-tab-button>
      <ion-tab-button (click)="menu.open()" expand="block" *ngIf="isLoggedIn">
        <ion-icon name="menu"></ion-icon>
        Persoonlijk
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-menu #menu contentId="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [ngClass]="{'active-menu-button': isMenuButtonActive('home')}" (click)="router.navigate(['tabs','home'])">
          <ion-icon name="person-circle-outline" slot="end" color="tertiary"></ion-icon>
          Mijn profiel
        </ion-item>
        <ion-item (click)="router.navigate(['tabs', 'youtubefeed'])">
          <ion-icon name="logo-youtube" slot="end" color="danger"></ion-icon>
          Kijken op Youtube
        </ion-item>
        <ion-item (click)="authService.signOut()">
          <ion-icon name="log-out-outline" slot="end" color="medium"></ion-icon>
          Uitloggen
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-content>