<ion-list>
  <ion-item-sliding *ngFor="let loginAttempt of loginAttempts.slice() | slice:0:10" class="ion-text-wrap">
  <ion-item>
      <ion-icon *ngIf="loginAttempt.system.isNative" color="dark" name="phone-portrait-outline" slot="start"></ion-icon>
      <ion-icon *ngIf="!loginAttempt.system.isNative" color="dark" name="laptop-outline" slot="start"></ion-icon>
      <ion-label>
        {{ loginAttempt.dateString }} <br /> 
        <ion-note class="ip">IP-adres: {{ loginAttempt.IPv4 }}</ion-note>
      </ion-label>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option *ngIf="loginAttempt.location.latitude !== '' && loginAttempt.location.lontitude !== ''" (click)="showMap($event, loginAttempt)" color="warning">
      <ion-icon slot="icon-only" name="location-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option (click)="showSystemInfo($event, loginAttempt)" color="primary">
      <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option (click)="setPasswordRecoveryUrl(loginAttempt.method)" color="success">
      <ion-icon slot="icon-only" name="lock-open-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
</ion-list>

