.opmerking {
    .opmerking-header {
        background-color: whitesmoke;
    }
    .opmerking-footer {
        text-align: right;
    }
    .opmerking-padding {
        padding: 0.1rem 0.5rem
    }
}


.date-small {
    font-size: xx-small;
}

.small {
    font-size: smaller;
    font-style: italic;
}