<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Wie is de mol?</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item routerlink="">
      <ion-label>
        <code>Home</code>
      </ion-label>
    </ion-item>
    <ion-item routerlink="kandidaten">
      <ion-label>
        <code>Kandidaten</code>
      </ion-label>
    </ion-item>
    <ion-item routerlink="youtubefeed">
      <ion-label>
        <code>Youtube feed</code>
      </ion-label>
    </ion-item>

  </ion-content>
</ion-menu>